h1,
h3 {
    color: red;
    background-color: green;
}

.crazy {
    text-align: center;
    background-color: green;
}

.home {
    background-color: orange;
    text-align: center;
    font-size: 200px;
    font-weight: bold;
}

* {
    background: pink;
}

.stepping{
    text-align: center;
    font-weight: bold;
}

.stepping.stone {
    color: green;
    text-align: right;
}